:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  padding: 0.5rem 2rem 2rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 1rem;
}

#username-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #213547;
  background-color: #ffffff;
  transition: border-color 0.2s ease-in-out;
}

#submit-button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #747bff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #5f6be1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
